*{ box-sizing: border-box;
padding: 0;
margin: 0;
}
/* upper nav css start */
.upper-nav{
    display:flex;
    justify-content: space-between;
    background-color:black;
    color: white;

}
/* upper nav css end  */
/* navbar css start */
.navbar{
    background-color: lightgrey;
    height: 100px;
    font-weight: bolder;
}
.links a{

    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    color: white;

}
.icon a{
    padding: 10px;
margin-left: 30px;
color: white;
}

/* nav bar css end */
/* mainpic& main paragrahph start */
.mainpic{
    margin-top:20px ;
    margin-bottom:30px ;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.para{
    background-color:#eee;
    color: black;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}
/* mainpic and main paraghraph end */
/* cards start */
.card{
    background-color:lightgrey;
    color: black;
    height: 225px;
  
}
/* card end */
/* footer start */

footer{
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer h3,h5{
    margin-bottom: 25px;
    margin-top: 40px;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer end  */
